/* Alapértelmezett stílusok */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #a1e3f9;
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  font-family: "Arial", sans-serif;

  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.szoveg {
  margin-top: 20px;
  font-size: medium;
  color: #333333;
}

.product_name,
.expiry_date {
  width: 100%;
  font-size: large;
  padding: 5px;
  background-color: #578fca;
  border: none;
  border-radius: 10px;
  color: black;
}

.success-message {
  color: green;
  font-size: medium;
}

.Gomb {
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  color: #ffffff;
}

.Mentes {
  background-color: green;
}

.Torles {
  background-color: red;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
